<div class="container">
    <h1><%= title %></h1>

</div>


<div style="width:500px ; ">
    <h2> I was born in germany and attended school in three different countries. Canada is the country I have lived in for the most 
        of my life and its a place i now call home. </h2>
        <h3> I enjoy sports, old school carpentry and doing nothing sometimes. My favorite sports include stand up paddle boarding, basketball and tennis.  
            I love paddle boarding because its so fun in the summer, and I like tennis and basketball becasue it involves more playtime then running back and forth. 
            Another hobby of mine is buiding cool stuff out various materials and solving problems the way engineers do. Carpentry can be alot of fun but i decided to pursue software for a career for many reasons.</h3>
            <img src="/public/content/images/paddeling.jpg">
</div>