<div class="container">
    <h1><%= title %></h1>
</div>

<div style="background-color:darkolivegreen ; border-radius: 10px; border-style: double; text-align: center;" >
  <h2>Darshmeen Dhillon<br>
    300689994<br>
    sec 402<br>

    @ software engineers Technology 3409 <br>
    School of Engineering Technology and Applied Science <br>
</h2>  
</div>
