<div class="container">
    <h1><%= title %></h1>
</div>



<div style="width: 700px; height: 700px;">

    <div style="width: 350px;">
<img src="/public/content/images/accessibility ramp.jpg">
    </div>
    
    <div style="width: 350px;">
<img src="/public/content/images/out door kitchen.JPG">
    </div>
    
    <div style="width: 350px;">
<img src="/public/content/images/outdoor drawers.JPG">
    </div>
    
</div>





