<div class="container">
    <h1><%= title %></h1>
</div>
<p>Offering</p>
<ul>
    <li>Web development</li>
    <li>software consulting</li>
    <li>C#, Java, python, javaScript, html and CSS programming</li>
</ul>